@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules//primereact//resources/primereact.min.css';
@import '../node_modules//primereact//resources/themes/saga-blue/theme.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
